HTML/12_lab/third/first.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="student">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="" type="xs:string"/>
            <xs:element name="head">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="prop" type="xs:string"/>
                     <xs:element name="val" type="xs:string"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="student" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="property" type="xs:string"/>
                     <xs:element name="value" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="orderid" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
</xs:schema>